{% extends 'Home/index.html'%}
{% load staticfiles %}




  {% block banner %}

	{% endblock %}





 {% block contenido%}
<div class="row" >
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-x1-3" style=" align-content: center;"><!-- inicio columna master 1-->
        <h3 style="text-align: center">
Filtros
        </h3>



            <div class="row" style=" padding-left: 30px;"> <!-- inicio fila 1-->
                <div class="col-0 col-sm-0 col-md-1 col-lg-1 col-x1-1">

                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-x1-12" > <!-- inicio columna 1-->


                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Zona</label>
                                <select class="form-control" id="zona" >
                                    <option>--Seleccione--</option>
                                    {% for z in  zona%}
                                    <option value="{{ z.pk }}">{{z.Nombre}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Universidad</label>
                                <select class="form-control " id="universidad"  >
                                    <option value="0" >--Seleccione--</option>

                                </select>
                            </div>
                        </div>
                    </div >
                </div>  <!-- fin columna 1-->

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-x1-12" style="align-content: space-between"><!-- inicio coluna 2-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Campus</label>
                                <select class="form-control campus" id="campus" >
                                    <option value="0">--Seleccione--</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    </div>


                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-x1-12" style="align-content: space-between"><!-- inicio coluna 2-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Facultad</label>
                                <select class="form-control facultad" id="facultad" >
                                    <option value="0">--Seleccione--</option>

                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Carrera</label>
                                <select class="form-control" id="carrera" >
                                    <option value="0">--Seleccione--</option>

                                </select>
                            </div>
                        </div>
                    </div>

                </div><!-- fin columna 2-->

            </div><!-- fin fila 1-->

    </div> <!-- fin columna master 1-->






    <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-x1-9" ><!-- inicio columna master 2-->


        <div class="row" style=" padding-right: 30px;">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-x1-12">
                <div class="row">


                    <div class="col-10 col-sm-10 col-md-6 col-lg-6 col-x1-6">
                          <div class="row" >
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Eje Y</label>
                                    <select class="form-control" id="filtro_y" >
                                        <option value="0">--Seleccione--</option>
                                        <option value="1">Todo</option>
                                        <option value="2">Artículos Científicos</option>
                                        <option value="3">Libros</option>
                                        <option value="4">Ponencias</option>
                                        <option value="5">Proyectos</option>




                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 col-sm-10 col-md-6 col-lg-6 col-x1-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Eje X</label>
                                    <select class="form-control" id="filtro_x" >
                                        <option value="0">--Seleccione--</option>
                                        <option value="1">Año</option>
                                        <option value="2">Nivel de Inpacto</option>
                                        <option value="3">Estado</option>


                </select>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-x1-10">
          <br>


               <div id="chart"> </div>

            </div>



            <div class="col-11 col-sm-11 col-lg-11 col-xl-11">
                    <div class="card text-center">
<!--
                      							<div class="row">
                      						        <div class="col-sm-4 col-xs-12">
                      						          <div class="counter-block" >
                      						          	<span class="count-description flaticon-boat" style="color:black" ><strong class="timer" style="color:black" >800</strong>Artículos Científicos</span>
                      						          </div>
                      						        </div>

                      					      	</div>  /.row -->

                        <div class="card-body">
                            <div class="table-responsive">


                                <table  class="table" >
                                    <tr >
                                        <td style=" with:10px;"><button type="button" class="btn btn-primary" id="buscar_filtros" >Graficar</button></td>
                                        <td id="nombre_base" style="size:23px">---Sin definir---</td>
                                        <td id="valor_base" >0</td>
                                        <td> <a href="/Home/reporte_pdf" target="_blank" class="fa fa-external-link" style="font-size:24px"></a></td>
                                    </tr>
                                    <tbody >
                                    </tbody>
                                </table>



                            </div>
                        </div>
                        <div class="card-footer text-muted">

                        </div>
                    </div>
                </div>
                <div class="col-11 col-sm-11 col-lg-11 col-xl-11">
                  <h2 style=" text-align: center">INFORMACIÓN</h2>
                </div>

                <!-- para la tabla del contenido-->

                <div class="col-11 col-sm-11 col-lg-11 col-xl-11">
                  <div class="table-responsive <card></card>">
                    <table class="table" id="table_data">
                      <tr>

                        <td>TITULO</td>
                        <td>URL</td>
                        <td>ISSN</td>
                        <td>VOLUMEN</td>
                        <td>DOCUMENTO</td>
                        <td>AUTOR</td>
                        <td>REVISTA</td>

                      </tr>
                      <tbody id="itemlist" >

                      </tbody>

                    </table>



                  </div>     <!-- fin table responsive-->
                </div>     <!--fin contenido-->


        </div>
    </div>
</div><!-- fin columna master 2-->


        <!-- Load d3.js and c3.js -->

                  <script type="text/javascript" src="{% static 'js/d3.min.js' %}"></script>
                  <script type="text/javascript" src="{% static 'js/c3.min.js' %}"></script>
                   <script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
                  <script type="text/javascript" src="{% static 'js/graficas.js' %}"></script>
                  <script type="text/javascript" src="{% static 'js/consultaAjax.js' %}"></script>



<script type="text/javascript">
var gra=[['.',0]];
graficar(gra);



 $('#zona').on('change',inicio);
 $('#universidad').on('change',inicio_campus);
  $('#campus').on('change',inicio_facultad);
  $('#facultad').on('change',inicio_carrera);
  $("#buscar_filtros").click(function () {
  var f=$('#facultad').on('change');
  var c=$('#carrera').on('change');
  var fx=$('#filtro_y').on('change');



        var facultad=$(f).val();
        var carrera=$(c).val();
        var filtroX=$(fx).val();
        var texto_carrera = $('#carrera option:selected').text();
        inicio_buscar(facultad,carrera,filtroX,texto_carrera );
        var Ejey = $('#filtro_y option:selected').text();

        $('#nombre_base').html(Ejey);






     });


   function inicio(){
vaciar_combo();
     var id =$(this).val();
     console.log(id);
     $.ajax({
         data:{'id':id},
         url:'/Home/busqueda_ajax/',
         type: 'get',
         success: function(data){
           console.log(data);
           var html="";
           html+='<option value="0">--Todo--</option>';
           for(var i=0;i<data.length;i++){
          //   html+='<ul><li>'+data[i].fields.id+'</li><li>'+data.[i].fields.Nombre+'</li></ul>';
         html+='<option value="'+data[i].pk+'">'+data[i].fields.Nombre+'</option>';
            //console.log(data[0].fields.Nombre);
          // console.log(data[0].pk);
           }
           $('#universidad').html(html);
         }
     });

 }

 function inicio_campus(){


   var id =$(this).val();
   console.log(id);
   $.ajax({
       data:{'id':id},
       url:'/Home/busqueda_campus/',
       type: 'get',
       success: function(data){
         console.log(data);
         var html="";
         html+='<option value="0">--Todo--</option>';
         for(var i=0;i<data.length;i++){
        //   html+='<ul><li>'+data[i].fields.id+'</li><li>'+data.[i].fields.Nombre+'</li></ul>';
       html+='<option value="'+data[i].pk+'">'+data[i].fields.Nombre+'</option>';
          //console.log(data[0].fields.Nombre);
        // console.log(data[0].pk);
         }
         $('#campus').html(html);
       }
   });

}

function inicio_facultad(){
  var id =$(this).val();
  console.log(id);
  $.ajax({
      data:{'id':id},
      url:'/Home/busqueda_facultad/',
      type: 'get',
      success: function(data){
        console.log(data);
        var html="";
        html+='<option value="0">--Todo--</option>';
        for(var i=0;i<data.length;i++){
       //   html+='<ul><li>'+data[i].fields.id+'</li><li>'+data.[i].fields.Nombre+'</li></ul>';
      html+='<option value="'+data[i].pk+'">'+data[i].fields.Nombre+'</option>';
         //console.log(data[0].fields.Nombre);
       // console.log(data[0].pk);
        }
        $('#facultad').html(html);
      }
  });

}

function vaciar_combo(){
  var html='<option value="0">--Seleccione--</option>';

     $('#universidad').html(html);
     $('#campus').html(html);
    $('#facultad').html(html);
    $('#carrera').html(html);
}





function inicio_carrera(){
  var id =$(this).val();
  console.log(id);
  $.ajax({
      data:{'id':id},
      url:'/Home/busqueda_carrera/',
      type: 'get',
      success: function(data){
        console.log(data);
        var html="";
        html+='<option value="0">--Todo--</option>';
        for(var i=0;i<data.length;i++){
       //   html+='<ul><li>'+data[i].fields.id+'</li><li>'+data.[i].fields.Nombre+'</li></ul>';
      html+='<option value="'+data[i].pk+'">'+data[i].fields.Nombre+'</option>';
         //console.log(data[0].fields.Nombre);
       // console.log(data[0].pk);
        }
        $('#carrera').html(html);
      }
  });


}
var val_carr=[];
function inicio_buscar(f,c,fx,texto_carrera ){
  alert("facu="+f+"-carr="+c+"- filx="+fx+" carrera "+texto_carrera  );


/////////////////////////////ajax para carreras
  if(f>0 && c>0 && fx > 0){
    console.log("facu="+f+"-carr="+c+"- filx="+fx);
      ajax_carrera(f,c,fx,texto_carrera);


  }   //////// fian ajax carreras//////////////////////////////////////////////////
  eliminaFilas();
  var gra=[['.',0]];
  graficar(gra);

  if(f>0 && c==0 && fx > 0){//// INICIO FACULTADES
  ajax_Facultad(f,c,fx,texto_carrera);



/// atrapamos todos los valores del select de carrera
var val_car=$("#carrera").find("option").length;
var ids_carrera=[];
var txt_carrera=[];

for(var i=0;i<val_car;i++){
  var s= $("#carrera").val([i]);
  var temp=$("#carrera").val();
  var temp2=$('#carrera option:selected').text();
  ids_carrera[i]=temp;
  txt_carrera[i]=temp2;
}


var objts=[];
for(var i=1;i<=ids_carrera.length;i++){
  alert(txt_carrera[i]+" = "+ids_carrera[i]);

  $.ajax({
      data:{'f':2,'c':ids_carrera[i],'fx':2,'txtC':texto_carrera},
      url:'/Home/busqueda_filtros/',
      type: 'get',
      success: function(data){
       objts.push(data);
        console.log(data);


      //  alert("el  valor de "+txt_carrera[j] +" contador escontador=" +cc);


      }

  });
} // fin for contador
console.log(objts);
var val_carr_new=[];
for(var j=0;j<objts.length;j++){
  val_carr_new[j]=objts[j].length;


}
console.log(val_carr_new);





var data=[];
for(var i=1; i<txt_carrera.length;i++){
alert( "la carrera= "+txt_carrera[i]+"  id "+ids_carrera[i]+"  valor contador ="+val_carr_new[i-1]);
var a=[];
a[0]=txt_carrera[i];
a[1]=val_carr_new[i-1];
data[i-1]=a;
}
console.log(data);
graficar_facultades(data);







//for(var i=0;i<ids_carrera.length;i++){
//  alert("finalmente el valor de " + txt_carrera[i+1]+"  es= "+ val_carr[i])
//}




//// regreamos a la posicion 0
 $("#carrera").val([0]);






  }//////FIN FACULTADES
  else{
    eliminaFilas();
    var gra=[['.',0]];
    graficar(gra);
    //alert("FALTAN PARÁMETROS");
  }



}





function graficar_facultades(data1){
  var s="siatemas";
  var e="electromecanica";
  var ele="electrica";
  var s1=22;
  var e1=1;
  var ele1=23;
  var nom=[];
  nom[0]=s;
  nom[1]=e;
  nom[2]=ele;

  var val=[];
  val[0]=s1;
  val[1]=e1;
  val[2]=ele1;


  var data=[];
for (var i=0;i<nom.length;i++){
var a=[];
a[0]=nom[i];
a[1]=val[i];
data[i]=a;
}
 console.log("la data llega es="+data1);
 console.log(data1);
 console.log(" la data generada es="+data);
 console.log(data);
   var tipo="pie";
  var chart = c3.generate({
data: {
  bindto:"#chart",
columns: data1,
type: tipo
},
bar: {
width: {
ratio: 0.4 // this makes bar width 50% of length between ticks
}

}
});
}

function graficar(data){

  console.log("la data es "+data);
  var type_gra='bar';
  var chart = c3.generate({
    bindto:"#chart",
    data: {
        columns:data,
       type:type_gra

    }
});


}

function eliminaFilas(){

  //OBTIENE EL NÚMERO DE FILAS DE LA TABLA
         var n=0;
         $("#table_data tbody tr").each(function () {
           n++;
                    });
  //BORRA LAS n-1 FILAS VISIBLES DE LA TABLA
  //LAS BORRA DE LA ULTIMA FILA HASTA LA SEGUNDA
  //DEJANDO LA PRIMERA FILA VISIBLE, MÁS LA FILA PLANTILLA OCULTA
        for(i=n-1;i>0;i--){
        $("#table_data tbody tr:eq('"+i+"')").remove();
          };

}


function ajax_carrera(f,c,fx,texto_carrera){
  $.ajax({
      data:{'f':f,'c':c,'fx':fx,'txtC':texto_carrera},
      url:'/Home/busqueda_filtros/',
      type: 'get',
      success: function(data){
        var contador=0;
        console.log(data);
        var html="";
        eliminaFilas();
          html+='<tr>';
        for(var i=0;i<data.length;i++){
    //  titulo','url','iSSN','volumen','documento','first_name','Nombre'
      html+='<td>'+data[i].fields.titulo+'</td>';
      html+='<td> <a href="'+data[i].fields.url+'" target="_blank" class="fa fa-external-link" style="font-size:24px"></a></td>';
      html+='<td>'+data[i].fields.iSSN+'</td>';
      html+='<td>'+data[i].fields.volumen+'</td>';
      html+='<td> <a href="'+data[i].fields.documento+'" target="_blank" class="fa fa-external-link" style="font-size:24px"></a></td>';
      html+='<td>'+data[i].fields.first_name+'</td>';
      html+='<td>'+data[i].fields.Nombre+'</td>';
      html+='</tr>';
      contador=contador+1;
        }
     $("#itemlist").append(html);
        $('#valor_base').html(contador);

         var texto_carrera = $('#carrera option:selected').text();
        var data=[];
        data[0]=texto_carrera;
        data[1]=contador;
       var  data_fin=[];
        data_fin[0]=data;
       graficar(data_fin);

      }
  });

}

function ajax_Facultad(f,c,fx,texto_carrera){
  $.ajax({
      data:{'f':f,'c':c,'fx':fx,'txtC':texto_carrera},
      url:'/Home/busqueda_filtros/',
      type: 'get',
      success: function(data){
        var contador=0;
        console.log(data);
        var html="";
        eliminaFilas();
          html+='<tr>';
        for(var i=0;i<data.length;i++){
    //  titulo','url','iSSN','volumen','documento','first_name','Nombre'
      html+='<td>'+data[i].fields.titulo+'</td>';
      html+='<td> <a href="'+data[i].fields.url+'" target="_blank" class="fa fa-external-link" style="font-size:24px"></a></td>';
      html+='<td>'+data[i].fields.iSSN+'</td>';
      html+='<td>'+data[i].fields.volumen+'</td>';
      html+='<td> <a href="'+data[i].fields.documento+'" target="_blank" class="fa fa-external-link" style="font-size:24px"></a></td>';
      html+='<td>'+data[i].fields.first_name+'</td>';
      html+='<td>'+data[i].fields.Nombre+'</td>';
      html+='</tr>';
      contador=contador+1;
        }
     $("#itemlist").append(html);
        $('#valor_base').html(contador);

         var texto_carrera = $('#carrera option:selected').text();
         var s= "sistemas";
         var e="electromecanica";

        var data=[];
        data[0]=texto_carrera;
        data[1]=contador;

       var  data_fin=[];
        data_fin[0]=data;
       graficar(data_fin);

      }
  });

}

var contador=0;

function ajax_grafica_cacu(f,c,fx,texto_carrera){

  $.ajax({
      data:{'f':f,'c':c,'fx':fx,'txtC':texto_carrera},
      url:'/Home/busqueda_filtros/',
      type: 'get',
      success: function(data){
      var cc=0;
        console.log(data);
        for(var i=0;i<data.length;i++){
         cc=cc+1;
        }

        alert("el  valor del contador escontador=" +cc);


      }

  });

  var s= contador;
contador=0;
return s;

}



</script>



	{% endblock %}
